<div class="container">
    <div class="mx-auto text">
        <div class="form-fruop row">
            <div class="alert alert-danger" *ngIf="err">{{validation.err_mes}}</div>
            <label class="col-form-label">Username:</label><input type="text" [(ngModel)]="username" class="form-control bg-dark text-white"/>
            <label class="col-form-label">Password:</label><input type="password" [(ngModel)]="password" class="form-control bg-dark text-white"/><hr>
            <button (click)="changeUserdata()" class="col-6 mx-auto btn btn-warning">Change user data</button>
        </div>
    </div>
</div>