/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
body{
    color: white;
    background-image: url("bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
}
.text{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
}
.post-cards{
    text-decoration:none; 
    transition: 0.5s;
}
.post-cards:hover{
    filter: brightness(85%);
}
.lan{
    z-index: 1;
    margin: 1% 1% 1% 1%;
}
.drp-but{
    border: 0;
}
.add{
    margin-top: 10px;
    margin-bottom: 10px;
}
.mdl{
    color: black;
}
