<div class="container">
    <div class="mx-auto ">
        <div class="form-fruop row">
            <div class="alert alert-danger" *ngIf="err">{{err_mes}}</div>
            <label class="col-form-label">Username:</label><input type="text" [(ngModel)]="username" class="form-control"/>
            <label class="col-form-label">Password:</label><input type="password" [(ngModel)]="password" class="form-control"/>
            <button (click)="ChangeUserdata()" class="btn btn-primary">Change user data</button>
        </div>
    </div>
</div>