<div class="container">
    <!--button to open add modal-->
    <button (click)="openAddModal(false)" class="add btn btn-primary" data-bs-toggle="modal">Add Articule</button>
    <div class="search">
        <!--filters inputs-->
        <input [(ngModel)]="titleFilter" class="form-control" (keyup)="filter()" placeholder="Search by title">
        <input [(ngModel)]="authorFilter" class="form-control" (keyup)="filter()" placeholder="Search by author">
    </div><hr>
    <!--cards with data-->
    <div *ngFor="let data of articlesList">
        <div class="card mx-auto post-cards text-bg-dark">
                <div class="card-header">
                    <h3 class="card-title">{{data.PostTitle}}
                    <!--dropdown menu shown only if user is author of the post-->
                    <div class="btn-group dropstart float-end" *ngIf="data.User.UserId == loginData.userId">
                        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><button (click)="openAddModal(true, data)" class="dropdown-item" data-bs-toggle="modal">Edit Articule</button></li>
                            <li><button (click)="deleteArticule(data.PostId)" class="dropdown-item" data-bs-toggle="modal">Delete Articule</button></li>
                        </ul>
                    </div></h3><hr>
                </div>
                <a (click)="goToDetails(data.PostId)" class="btn card-body">
                    <div class="float-start">
                        <h5 class="card-text float-start">{{data.User.Username}}</h5><br>
                        <h6 class="card-text float-start">{{data.CreationDate}}</h6>
                    </div>
                </a>
        </div>
        <br>
    </div>
</div>