<div class="card text-bg-dark modal-xlg">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">{{modalTitle}}</h1>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal('dismiss')"></button>
  </div>
  <div class="modal-body">
    <div class="form-gruop row">
      <div class="alert alert-danger" *ngIf="err">{{validation.err_mes}}</div>
      <label class="col-form-label">Title:</label>
        <input type="text" [(ngModel)]="postTitle" class="form-control bg-dark text-white"/>
      <label class="col-form-label">Photo:</label>
        <input type="file" (change)="uploadPhoto($event)" class="form-control bg-dark text-white"/>
      <label class="col-form-label">Content:</label>
        <editor [(ngModel)]="postContent" 
          [apiKey]="'dfndy4k3qsfwnmo05e9zts9cx2qu9sgm7obw4sztau07aui1'"
          [init]="{
            skin: 'oxide-dark',
            content_css: 'dark',
            selector: 'textarea',
            height: 500,
            menubar: false,

            plugins: [
              'advlist autolink lists link image charmap print preview anchor',
              'searchreplace visualblocks code fullscreen',
              'insertdatetime media table paste code help wordcount'
            ],
            toolbar:
              'undo redo | formatselect | bold italic | \
              alignleft aligncenter alignright alignjustify | \
              bullist numlist outdent indent | removeformat | help'
          }">
        </editor>
    </div>
  </div>
  <div class="modal-footer">
    <div class="mx-auto">
      <button type="button" *ngIf="!edit" [ngClass]="{'disabled' : done}" class="btn btn-warning" style="margin-right: 10px" (click)="addPost()">Save changes</button>
      <button type="button" *ngIf="edit" [ngClass]="{'disabled' : done}" class="btn btn-warning" style="margin-right: 10px" (click)="editPost()">Save changes</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal('close')">Close</button>
    </div>
  </div>
</div>