.post-cards{
    text-decoration:none; 
    max-width: 30rem;
    width: 18rem;
    transition: 0.5s;
}
.post-cards:hover{
    filter: brightness(85%);
}
.header{
    color: red;
}
.body{
    color: black;
}
