<div class="container text-center">
    <div class="text">
        <h1>Welcome in Bobrowy Las Lore!</h1>
        <h3>Here you have some posts that our users have created:</h3><hr>
        <div>
            <a href="/articles" class="card mx-auto post-cards text-bg-dark">
                <div class="card-header">
                    <h5 class="card-title header">Articles</h5>
                </div>
                <div class="card-body">
                    <p class="card-text body">Here we have articles about observated spicies</p>
                </div>
            </a><br>
            <a href="/characters" class="card mx-auto post-cards text-bg-dark">
                <div class="card-header">
                    <h5 class="card-title header">Characters</h5>
                </div>
                <div class="card-body">
                    <p class="card-text body">Here we have characters who are in lore</p>
                </div>
            </a><br>
            <a href="/stories" class="card mx-auto post-cards text-bg-dark">
                <div class="card-header">
                    <h5 class="card-title header">Stories</h5>
                </div>
                <div class="card-body">
                    <p class="card-text body">Here are stories from big world of Bobrowy Las</p>
                </div>
            </a>
        </div>
    </div>
</div>
