<!--loaded wait till data is loaded-->
<div class="container" *ngIf="loaded | async">
    <div class="container" *ngIf="postData != 'error'">
        <!--buttons are shown if user is author-->
        <div *ngIf="postData.User.UserId==userId">
            <button class="btn btn-primary" (click)="openAddModal(postData)">Edit</button>
            <button (click)="deletePost(postData.PostId)" class="btn btn-primary" data-bs-toggle="modal">Delete Articule</button>
        </div>
        <div class = "text">
            <img [src]=postData.PostPhoto width="200px" height="220px"/>
            <h1>{{postData.PostTitle}}</h1><hr> 
            <h3>Author: {{postData.User.Username}}</h3><br>
            <h4>Date: {{postData.CreationDate}}</h4><br>
            <h6>Type: {{postData.Type.Type}}</h6><hr>
            <div class="container">
                {{postData.PostContent}}
            </div>
        </div>
    </div>
    <!--if post doesn't exist it shows this-->
    <div class="container" *ngIf="postData == 'error'">
        <h1>Post doesn't exist! </h1>
    </div>
</div>